@keyframes trainer {
   from { background-position-x: 0px  }
   to { background-position-x: -150px }
}

@keyframes charmander {
   from { background-position-x: 0px  }
   to { background-position-x: -100px }
}

html, head, body, h1, figure, li, ul {
  margin: 0;
  padding: 0;
}

figure{
  height: 520px;
  width: 520px;
  border: 1px solid black;
}

li{
  float: left;
  list-style: none;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.blue {
  background:  url("../assets/blue.png");
  animation: trainer .2s steps(3) infinite;
}

.charmander {
  background: url("../assets/charmander.png");
  animation: charmander .2s steps(2) infinite;
}

.apple {
  background: url("../assets/pokeball.png");
}

.S {
  background-position-y: 0px;
}

.W {
  background-position-y: -50px;
}

.E {
  background-position-y: 100px;
}

.N {
  background-position-y: -150px;
}

#game-over {
  display: none;
}
