@keyframes trainer {
   from { background-position-x: 0px;  }
   to { background-position-x: -150px; }
}

@keyframes pokemon {
   from { background-position-x: 0px;  }
   to { background-position-x: -100px; }
}

@keyframes blink {
  to { visibility: hidden; }
}

@keyframes fadein {
  from { opacity: 0; } to { opacity: 1; }
}

html, head, body, div, h1, h2, figure, li, ul {
  background: transparent;
  border: 0;
  color: #FFFFFF;
  font: inherit;
  margin: 0;
  padding: 0;
  text-style: inherit;
}

ul, li {
  list-style: none;
}

.clearfix:after {
  clear: both;
  content: "";
	display: block;
	font-size: 0;
	height: 0;
  visibility: hidden;
}

div {
  font-family: 'Press Start 2P';
  font-size: 11px;
}

h1 {
  font-size: 15px;
  padding: 15px 0 20px 10px;
}

h2 {
  padding: 0 0 5px 10px;
}

h3 {
  font-size: 10px;
  padding: 10px 0 0 0;
  text-align: center;
}

h4 {
  font-size: 8px;
  text-align: center;
}

#best-level {
  float: right;
  padding: 10px 10px 0 0;
}

#level {
  float: right;
  padding: 10px 30px 0 0;
}

#title {
  float: left;
  padding: 10px 0 0 10px;
}

figure, #start-screen {
  animation: fadein 10s;
}

#choose, #starting, #game-over {
  display: none;
}

#choose {
  animation: fadein 5s;
}

#starting h1 {
  padding: 40px 0 0 0;
  text-align: center;
}

figure {
  height: 100% - 30px;
  width: 100%;
}

ul {
position: relative;
}

header {
  background-color: black;
  display: block;
  height: 30px;
}

.info {
  background-color: #004A80;
  border: 10px solid #C9A93E;
  border-radius: 10px;
  color: #FFFFFF;
  height: 100px;
  left: 50%;
  margin-left: -150px;
  margin-top: -50px;
  position: fixed;
  top: 50%;
  width: 300px;
  z-index: 1;
}

#choose {
  background-color: #004A80;
  border: 10px solid #C9A93E;
  border-radius: 10px;
  color: #FFFFFF;
  height: 140px;
  left: 50%;
  margin-left: -175px;
  margin-top: -65px;
  position: fixed;
  top: 50%;
  width: 350px;
  z-index: 1;
}

#pokemons {
  margin: 10px 0 0 25px;
}

.starter {
  float: left;
  height: 75px;
  margin: 20px 0 0 20.8px;
  width: 75px;
}

h4 {
  margin: -15px 0 0 0;
}

#bulbasaur {
  background-image: url("../assets/bulbasaurc1.png");
}

#squirtle {
  background-image: url("../assets/squirtlec1.png");
}

#charmander {
  background-image: url("../assets/charmanderc1.png");
}

.square {
  background: url("../assets/grass.png");
  float: left;
  height: 50px;
  width: 50px;
}

.side-tree {
  background: url("../assets/tree.png");
  float: none;
  height: 50px;
  overflow: hidden;
}

.bottom-tree {
  background: url("../assets/tree.png");
  overflow: hidden;
  width: 100%;
}

.blink {
  animation: blink 1.5s steps(5, start) infinite;
}

.blue {
  animation: trainer .225s steps(3) infinite;
  background: url("../assets/sprite_sheets/blue.png"), url("../assets/grass.png");
  background-color: transparent;
}

.charmander, .charmeleon, .charizard, .bulbasaur, .ivysaur, .venusaur,
.squirtle, .wartortle, .blastoise {
  animation: pokemon .25s steps(2) infinite;
  background-color: transparent;
}

.charmander {
  background: url("../assets/sprite_sheets/charmander.png"), url("../assets/grass.png");
}

.charmeleon {
  background: url("../assets/sprite_sheets/charmeleon.png"), url("../assets/grass.png");
}

.charizard {
  background: url("../assets/sprite_sheets/charizard.png"), url("../assets/grass.png");
}

.bulbasaur {
  background: url("../assets/sprite_sheets/bulbasaur.png"), url("../assets/grass.png");
}

.ivysaur {
  background: url("../assets/sprite_sheets/ivysaur.png"), url("../assets/grass.png");
}

.venusaur {
  background: url("../assets/sprite_sheets/venusaur.png"), url("../assets/grass.png");
}

.squirtle {
  background: url("../assets/sprite_sheets/squirtle.png"), url("../assets/grass.png");
}

.wartortle {
  background: url("../assets/sprite_sheets/wartortle.png"), url("../assets/grass.png");
}

.blastoise {
  background: url("../assets/sprite_sheets/blastoise.png"), url("../assets/grass.png");
}

.apple {
  background: url("../assets/pokeball.png"), url("../assets/grass.png");
  background-color: transparent;
}

.S {
  background-position-y: 0px;
}

.W {
  background-position-y: -50px;
}

.E {
  background-position-y: 100px;
}

.N {
  background-position-y: -150px;
}
