@keyframes trainer {
   from { background-position-x: 0px  }
   to { background-position-x: -150px }
}

@keyframes charmander {
   from { background-position-x: 0px  }
   to { background-position-x: -100px }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

html, head, body, div, h1, h2, figure, li, ul {
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  text-style: inherit;
  color: #FFFFFF;
}

div {
  font-size: 11px;
  font-family: 'Press Start 2P';
}

h1 {
  font-size: 15px;
  padding: 15px 0 20px 10px;
}

h2 {
  padding: 0 0 5px 10px;
}


/*#level {
  float: left;
}

#best-level {
  float: right;
}*/

figure {
  height: 100% - 50px;
  width: 100%;
}

ul, li {
  list-style: none;
}

ul {
  position: relative;
}

header {
  display: block;
  height: 50px;
  background-color: black;
}

/*.blues_adventure {
  position: fixed;
  /*background: url('../assets/blues_adventure.png');*/

/*}*/

.info {
  position: fixed;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  color: #FFFFFF;
  background-color: #004A80;
  z-index: 1;
  border: 10px solid #C9A93E;
  border-radius: 10px;
}

.square {
  float: left;
  height: 50px;
  width: 50px;
  background: url("../assets/grass.png");
}

.side-tree {
  float: none;
  height: 50px;
  overflow: hidden;
  background: url("../assets/tree.png");
}

.bottom-tree {
  width: 100%;
  overflow: hidden;
  background: url("../assets/tree.png");
}

.blink {
  animation: blink 1.5s steps(5, start) infinite;
}

.blue {
  background: url("../assets/blue.png"), url("../assets/grass.png");
  background-color: transparent;
  animation: trainer .2s steps(3) infinite;
}

.charmander {
  background: url("../assets/charmander.png"), url("../assets/grass.png");
}

.charmeleon {
  background: url("../assets/charmeleon.png"), url("../assets/grass.png");
}

.charmander, .charmeleon {
  background-color: transparent;
  animation: charmander .2s steps(2) infinite;
}

.apple {
  background: url("../assets/pokeball.png"), url("../assets/grass.png");
  background-color: transparent;
}

.S {
  background-position-y: 0px;
}

.W {
  background-position-y: -50px;
}

.E {
  background-position-y: 100px;
}

.N {
  background-position-y: -150px;
}

#game-over, #starting {
  display: none;
}
